.header {
  display: flex;
  max-height: 100px;
  background: $color-black;
  position: sticky;
  z-index: 20;
  top: 0;
  box-shadow: $box-shadow-default--soft;
  transition: $ease-in-out $duration-slow;

  &--sticky {
    background-color: $color-primary;

    .site-nav {
      @media (min-width: $mq-mob) {
        padding-top: 0;
      }
    }
  }

  .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 1440px;
    padding-top: $spacing-32;
    padding-bottom: $spacing-32;
  }

  &__logo {
    position: relative;
    margin-right: auto;

    @media (min-width: $mq-mob) {
      margin-right: 0;
    }

    svg {
      vertical-align: middle;
      width: 30px;

      @media (prefers-color-scheme: dark) {
        fill: $color-white;
      }
    }

    &--nav-overlay {
      margin-top: $spacing-40;

      svg {
        width: 60px;
      }
    }
  }

  &__home-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
  }
}
