.contact-teaser {
  color: $color-white;
  background: url("/img/wave-contact.svg") no-repeat $color-primary;
  background-size: 150%;
  background-position: left;
  padding: $spacing-32 $spacing-16;
  border-radius: $border-radius-xl;

  @media (min-width: $mq-tab--sml) {
    padding: $spacing-64 $spacing-32;
    background-size: 120%;
  }

  @media (min-width: $mq-desk--lrg) {
    padding: $spacing-128 $spacing-64;
  }

  &__content {
    max-width: 100%;

    @media (min-width: $mq-tab--sml) {
      max-width: 750px;
    }
  }
}
