.contact-teaser {
  color: $color-white;
  background-color: $color-primary;
  padding: $spacing-32 $spacing-16;
  border-radius: $border-radius-xl;
  position: relative;
  overflow: hidden;

  @media (min-width: $mq-tab--sml) {
    padding: $spacing-64 $spacing-32;
    background-size: 120%;
    background-position: left;
  }

  @media (min-width: $mq-desk--lrg) {
    padding: $spacing-128 $spacing-64;
  }

  &__image {
    position: absolute;
    width: 120%;
    height: 100%;
    left: 0;
    top: 0;

    img {
      width: 120%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    flex-direction: column;
    display: flex;
    max-width: 100%;
    z-index: 10;

    @media (min-width: $mq-tab--sml) {
      max-width: 750px;
    }

    h1 {
      @include heading(h3);
      color: $color-white;
    }

    .button {
      align-self: flex-start;
    }
  }
}
