*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
#__next {
  min-height: 100vh;
}

body {
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: $color-white;
    background: $color-black;
  }
}

.section-content {
  grid-column: span 12 / span 12;
  grid-column-start: 1;
  margin-top: $spacing-64;

  @media (min-width: $mq-tab--sml) {
    grid-column: span 10 / span 10;
    grid-column-start: 2;

    &[data-text] {
      grid-column: span 7 / span 7;
      grid-column-start: 2;
    }
  }
}
