//
// Grid system
// --------------------------------------------------

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $spacing-sml;
  padding-right: $spacing-sml;

  > .container {
    margin-right: -10px;
    margin-left: -10px;
  }

  @media (max-width: $mq-mob) {
    padding-left: $spacing-med;
    padding-right: $spacing-med;

    > .container {
      margin-right: -$spacing-med;
      margin-left: -$spacing-med;
    }
  }

  @media (min-width: $mq-tab--sml) {
    width: $container-med;
  }

  @media (min-width: $mq-desk--med) {
    width: $container-lrg;
  }
}
