$font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
  helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-stack-base: "Mark Pro", Tahoma, sans-serif, $font-stack;
$font-stack-headings: "Circular Std", Tahoma, sans-serif, $font-stack;

:root {
  --font-stack: #{$font-stack};
  --font-stack-base: #{$font-stack-base};
  --font-stack-headings: #{$font-stack-headings};
}

body {
  color: $color-white;
  line-height: 1.5;
}

// Fallbacks
@mixin font-stack-base {
  font-family: $font-stack-base, Tahoma, sans-serif, $font-stack;
}

@mixin text {
  font-size: 20px;
  line-height: 1.5;
}

@mixin text-link {
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
}

@mixin text-xxxl {
  font-size: 64px;
}

@mixin text-xxl {
  font-size: 48px;
}

@mixin text-xl {
  font-size: 36px;
}

@mixin text-l {
  font-size: 24px;
}

@mixin text-m {
  font-size: 18px;
}

@mixin text-s {
  font-size: 16px;
  line-height: 1.25;
}

@mixin text-xs {
  font-size: 14px;
  line-height: 20px;
}

@mixin text-xxs {
  font-size: 12px;
}

@mixin heading($size) {
  font-size: map-get(
    (
      h1: 64px,
      h2: 48px,
      h3: 36px,
      h4: 28px,
      h5: 24px,
      h6: 20px,
    ),
    $size
  );
  line-height: map-get(
    (
      h1: 1.45,
      h2: 1.45,
      h3: 1.45,
      h4: 1.45,
      h5: 1.4,
      h6: 1.6,
    ),
    $size
  );

  @include mq($mq-tab--sml) {
    font-size: map-get(
      (
        h1: 72px,
        h2: 64px,
        h3: 48px,
        h4: 36px,
        h5: 24px,
        h6: 20px,
      ),
      $size
    );
    line-height: map-get(
      (
        h1: 1.1,
        h2: 1.2,
        h3: 1.2,
        h4: 1.2,
        h5: 1.2,
        h6: 1.2,
      ),
      $size
    );
  }
}

// Elements

body,
input,
button {
  @include font-stack-base;
  color: $color-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headings;
}

h1,
.h1 {
  @include heading(h1);
  margin: 0;
  margin-bottom: $spacing-8;
}

h2,
.h2 {
  @include heading(h2);
  margin: 0;
  margin-bottom: $spacing-8;
}

h3,
.h3 {
  @include heading(h3);
  margin: 0;
  margin-bottom: $spacing-8;
}

h4,
.h4 {
  @include heading(h4);
  margin: 0;
  margin-bottom: $spacing-8;
}

h5,
.h5 {
  @include heading(h5);
  margin: 0;
  margin-bottom: $spacing-8;
}

h6,
.h6 {
  @include heading(h6);
  margin: 0;
  margin-bottom: $spacing-8;
}

p {
  @include text-s;
  text-decoration: none;
}
