@use "sass:math";

/** Containers */
$container-xs: 320px;
$container-sml: 480px;
$container-med: 768px;
$container-lrg: 1200px;
$container-xl: 1400px;

$containers: (
  xs: $container-xs,
  sml: $container-sml,
  med: $container-med,
  lrg: $container-lrg,
  xl: $container-xl,
);

/*
** Breakpoints
*/
$bp-xxs: 375px;
$bp-xs: 416px;
$bp-s: 640px; // portrait
$bp-portrait: 768px; // portrait
$bp-m: 864px; // portrait
$bp-landscape: 1024px;
$bp-l: 1080px; // desktop ignore on gdpr
$bp-xl: 1280px;
$bp-xxl: 1440px;
$bp-xxxl: 1600px;

/** Block */
$spacing-base: 8px;
$spacing-xxxs: $spacing-base * 0.25; // 2px
$spacing-xxs: $spacing-base * 0.5; // 4px
$spacing-xs: $spacing-base; // 8px
$spacing-sml: $spacing-base * 2; // 16px
$spacing-sml-temp: 20px; // TODO: refactor
$spacing-med: $spacing-base * 3; // 24px
$spacing-med-temp: 30px; // TODO: refactor
$spacing-lrg: $spacing-base * 6; // 48px
$spacing-xl: $spacing-base * 8; // 64px
$spacing-xxl: $spacing-base * 12; // 96px
$spacing-xxxl: $spacing-base * 16; // 128px
$spacing-xxxxl: $spacing-base * 24; // 192px

$spacings: (
  xxxs: $spacing-xxxs,
  xxs: $spacing-xxs,
  xs: $spacing-xs,
  sml: $spacing-sml,
  med: $spacing-med,
  lrg: $spacing-lrg,
  xl: $spacing-xl,
  xxl: $spacing-xxl,
  xxxl: $spacing-xxxl,
);

/** Font weights */
$font-weight-light: 200;
$font-weight-bold: 600;

/** Components */
$header-height: 100px;
$border-radius-sml: 2px;
$border-radius-med: 4px;
$border-radius-lrg: 8px;
$border-radius-xl: 16px;
$box-shadow-default--hard: 0 2px 5px rgba($color-black, 0.1);
$box-shadow-default--soft: 0 5px 10px rgba($color-black, 0.1);

/** Transition & animation */
$duration-fast: 0.15s;
$duration-med: 0.25s;
$duration-slow: 0.4s;
$duration-slower: 0.6s;
$duration-very-slow: 1s;
$duration-slowest: 1.5s;

$ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);

$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$ease-in-out: cubic-bezier(1, 0, 0.25, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$ease-default: $ease-in-out;

/** Media query */
$mq-mob: 480px;
$mq-mob--lrg: 640px;

$mq-tab--sml: 768px;
$mq-tab--lrg: 820px;

$mq-desk--sml: 960px;
$mq-desk--med: 1200px;
$mq-desk--lrg: 1440px;
