.hero {
  position: relative;
  padding: $spacing-128 0;
  background-color: $color-primary;
  margin-bottom: $spacing-64;

  @media (min-width: $mq-tab--sml) {
    padding: $spacing-64;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: url("/img/wave.svg") no-repeat;
    background-size: 100%;
    background-position: bottom left;
    height: 100%;
    width: 100%;

    @media (min-width: $mq-mob--lrg) {
      width: 50%;
    }

    @media (min-width: $mq-tab--sml) {
      width: 40%;
      background-size: auto;
    }
  }

  &::before {
    top: 0;
    right: 0;
    transform: rotate(180deg);
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  .container {
    position: relative;
    display: flex;

    @media (min-width: $mq-tab--sml) {
      min-height: 750px;
    }
  }

  &__image {
    position: absolute;
    display: none;
    right: $spacing-16;
    z-index: 5;

    @media (min-width: $mq-tab--sml) {
      display: block;
    }

    img {
      border-radius: $border-radius-xl;
    }
  }

  &__content {
    align-self: flex-end;
    order: 1;
    z-index: 5;

    @media (min-width: $mq-tab--sml) {
      max-width: 800px;
    }

    h1 {
      @include heading(h6);
      color: $color-white;
    }

    h6 {
      @include heading(h1);
      color: $color-white;
    }
  }

  &__lead {
    @include text;

    @media (min-width: $mq-tab--sml) {
      @include text-l;
    }
  }
}
