.hero {
  position: relative;
  padding: $spacing-xl;
  background-color: $color-primary;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: url("../../public/img/wave.png") no-repeat;
    background-size: 100%;
    background-position: bottom left;
    height: 100%;
    width: 100%;

    @media (min-width: $mq-tab--sml) {
      background-size: auto;
    }
  }

  &::before {
    top: 0;
    right: 0;
    transform: rotate(180deg);
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  .container {
    flex-direction: column;
    display: flex;
  }

  &__image {
    align-self: flex-end;
    z-index: 10;

    img {
      border-radius: $border-radius-xl;
    }
  }

  &__content {
    position: absolute;
    font-size: 20px;
    max-width: 50vw;
    bottom: $spacing-xxxl;
    z-index: 20;
  }
}
