body[data-nav-is-open="true"] .site-nav-overlay {
  transform: translate3d(0%, 0, 0);
}

.site-nav-overlay {
  $self: &;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: $color-black;

  body[data-nav-is-open="true"] & {
    @media all and (-ms-high-contrast: none) {
      transform: translateX(0);
    }
  }

  @media (min-width: $mq-mob) {
    position: static;
    width: auto;
    height: auto;
    transform: none;
    transition: none;
    background: none;
    background-color: transparent;
    z-index: 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;

    @media (min-width: $mq-mob) {
      display: none;
    }

    .container {
      padding-top: $spacing-32;
      padding-bottom: $spacing-32;
    }

    h2 {
      margin: 0;
      color: $color-white;
    }
  }

  &__close {
    &:hover,
    &:focus {
      outline: none;
      opacity: 1;

      svg {
        color: currentColor;
      }
    }

    svg {
      height: 18px;
      width: 18px;
      fill: $color-white;
    }

    &[data-is-open="true"] {
      @media all and (-ms-high-contrast: none) {
        left: 0;
      }
    }

    @media (min-width: $mq-mob) {
      display: none;
    }
  }
}
