.site-nav {
  .site-nav-open {
    display: flex;
    margin-top: $spacing-4;
    background: transparent;
    border: none;
    cursor: pointer;

    @media (min-width: $mq-mob) {
      display: none;
    }

    svg {
      height: 24px;
      width: 24px;
      fill: $color-white;
    }
  }

  &__list {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 20vh 0 0 0;
    list-style-type: none;

    @media (min-width: $mq-mob) {
      flex-direction: row;
      margin: 0;
    }

    @media (min-width: $mq-mob) and (max-width: $mq-tab--sml) {
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row;
    }

    @media (min-width: $mq-tab--sml) {
      margin: 0;
    }

    &-item {
      margin: $spacing-24;

      @media (min-width: $mq-tab--sml) {
        margin: 0 0 0 $spacing-48;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      @include heading(h4);
      position: relative;
      color: $color-white;
      font-weight: $font-weight-bold;
      text-decoration: none;

      &:hover {
        color: inherit;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right top;
        width: 100%;
        height: 2px;
        background: $color-white;
        transition: transform $duration-slow;
      }

      &:hover::after {
        transform: scale(1);
        transform-origin: left top;
      }

      &[aria-current="true"] {
        color: $color-white;
      }

      @media (min-width: $mq-mob) {
        @include text-s;
      }
    }
  }
}
