.site-nav {
  .site-nav-open {
    display: inline-flex;

    @media (min-width: $mq-mob) {
      display: none;
    }
  }

  &__list {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 20vh 0 0 0;
    list-style-type: none;

    @media (min-width: $mq-mob) {
      flex-direction: row;
      margin: 0;
    }

    @media (min-width: $mq-mob) and (max-width: $mq-tab--sml) {
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: row;
    }

    @media (min-width: $mq-tab--sml) {
      margin: 0;
    }

    &-item {
      margin: $spacing-24;

      @media (min-width: $mq-tab--sml) {
        margin: 0 0 0 $spacing-48;
      }
    }

    &-link {
      @include heading(h4);
      color: $color-white;
      font-weight: bold;

      &:hover {
        color: $color-white;
      }

      &[aria-current="true"] {
        color: $color-white;
      }

      @media (min-width: $mq-mob) {
        @include text-link;
        font-style: normal;
      }
    }
  }
}
