.case-teaser {
  grid-column: span 11 / span 11;
  grid-column-start: 1;
  margin-top: $spacing-64;

  @media (min-width: $mq-tab--sml) {
    grid-column: span 6 / span 6;
    grid-column-start: 7;
    margin-top: 0;
  }

  &:nth-child(2n + 1) {
    grid-column-start: 1;
    margin-top: $spacing-64;
  }

  &__image {
    padding: $spacing-16 0 $spacing-16 $spacing-16;
    border-radius: $border-radius-med;

    @media (min-width: $mq-tab--sml) {
      padding: $spacing-64 0 $spacing-64 $spacing-64;
    }
  }

  &__container {
    flex-direction: column;
    display: flex;
  }

  &__title {
    @include heading(h4);
    margin-top: $spacing-24;
  }

  &__content {
    margin: 0 0 $spacing-16 0;
  }

  &__tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 $spacing-24 0;

    &-item {
      margin-right: $spacing-8;
      font-weight: $font-weight-bold;

      &:not(:last-child)::after {
        content: "\02be";
        margin-left: $spacing-8;
        height: 10px;
        display: inline-block;
        vertical-align: sub;
      }
    }
  }

  &__link {
    span * {
      vertical-align: middle;
    }
  }
}
